<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Hello, {{ request.user.username }}</h2>
    <p>You have visited this dashboard {{ visitCount }} times.</p>
    <p>Cookie set for you: {{ request.COOKIES.userName }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>