<!-- <!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>

    {% if books %}
        <ul>
        {% for book in books %}
            <li><strong>{{ book.title }}</strong> by {{ book.author }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books available.</p>
    {% endif %}
</body>
</html> -->

{% extends "base.html" %}

{% block title %}Book List{% endblock %}

{% block content %}
    {% if books %}
        <ul>
            {% for book in books %}
            <li><strong>{{ book.title }}</strong> by {{ book.author }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books available.</p>
    {% endif %}
{% endblock %}