{% extends 'index.html' %}

{% block title %} Home - My Blood Donation Website {% endblock %}

{% block content %}

    <section class="hero">
        <h2>About Us</h2>
        <p>
            We are a passionate team dedicated to saving lives through blood donation. Our mission is to bridge the gap between donors and recipients, ensuring a steady and safe blood supply for those in need.
        </p>
        <p>
            By fostering a culture of voluntary donation, we aim to make blood accessible to everyone while spreading awareness about its importance.
        </p>
    </section>

{% endblock %}