{% extends 'index.html' %}

{% block title %} Home - My Blood Donation Website {% endblock %}

{% block content %}

    <section class="hero" id="home">
        <h2>Be a Hero, Donate Blood</h2>
        <p>Join our mission to save lives and make a difference in your community.</p>
        <a href="/blood/register-donor"><button class="cta-button">Become a Donor</button></a>
    </section>

    <section class="features">
        <div class="feature">
            <img src="https://static.vecteezy.com/system/resources/previews/008/191/708/non_2x/human-blood-donate-and-heart-rate-on-white-background-free-vector.jpg" alt="Feature 1">
            <h3>Why Donate?</h3>
            <p>Every donation helps save up to three lives.</p>
        </div>
        <div class="feature">
            <img src="https://thumbs.dreamstime.com/b/blood-donor-man-puts-drop-piggy-bank-as-donatio-donation-concept-donate-save-life-132145228.jpg" alt="Feature 2">
            <h3>How It Works</h3>
            <p>Quick, easy, and safe blood donation process.</p>
        </div>
        <div class="feature">
            <img src="https://www.shutterstock.com/image-vector/blood-bag-donated-cute-cartoon-600nw-2293990295.jpg" alt="Feature 3">
            <h3>Find a Drive</h3>
            <p>Locate a blood donation camp near you.</p>
        </div>
    </section>

{% endblock %}